/* color palettes */
:root {
    --color-primary:#2C3A47;
    --color-secondary:red;
    --color-nav:#2C3A47;
    --color-heading-dark:white;
    background-color: white;
    
    

}
*,
*::after,
*::before {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
/* typography */

html {
    font-size:62.5%;
}

body {
    font-family: 'Inter', Arial, Helvetica,  sans-serif;
    color:var(--color-primary);
    font-size: 1.5rem;
    line-height:1.5;
    
    
}

h1, 
h2, 
h3 {
    margin-top: 0;
    color: var(--color-primary);
    margin-bottom: 1rem;
    text-transform: capitalize;
}

h1 {
    font-size:5rem;
}

h2 {
    font-size:3rem;
}

h3 {
    font-size:2rem;
    
}
p {
    margin-top:0;
    line-height:3rem;

}

/* links */
a {
    color: var(--color-heading-dark);
    text-decoration: none;
    font-size: 1.2rem;

    
}


/* header */
.header{
    background-color:var(--color-nav);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 4rem;

}
.logo img {
    padding: 1rem;

}
.nav-item {
    padding:1rem;
    
   
}
nav {
   
    display: none;

    
}
/* setting color */
.nav-item > a {
    color: var(--color-heading-dark);
    transition:color 1s;
    text-transform: capitalize;
    

}
/* display list in center  */
.nav__list {
    padding:2rem 2rem;
    align-items: center;
    text-align: center;
    

}
.nav-item > a:hover {
    color:var(--color-secondary);

}

/* toggle */
.nav-icon-4{
    width: 45px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right:15px;
  }
  .nav-icon-4 span{
    background-color:var(--color-heading-dark);
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-4 span:nth-child(1){
    width: 100%;
    height:  4px;
    display: block;
    top: 0px;
    left: 0px;
  }
  .nav-icon-4 span:nth-child(2){
    width: 100%;
    height:  4px;
    display: block;
    top: 13px;
    left: 0px;
  }
  .nav-icon-4 span:nth-child(3){
    width: 100%;
    height:  4px;
    display: block;
    bottom: 0px;
    left: 0px;
  }
  .nav-icon-4:not(.open):hover span:nth-child(1){
    width: 100%;
    height:  4px;
    display: block;
    top: -2px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-4:not(.open):hover span:nth-child(2){
    width: 100%;
    height:  4px;
    display: block;
    top: 13px;
    left: 0px;
    transition: .4s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-4:not(.open):hover span:nth-child(3){
    width: 100%;
    height:  4px;
    display: block;
    bottom: -2px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }
  .nav-icon-4.open {
    transform: rotate(90deg);
  }
  .nav-icon-4.open span:nth-child(1){
    left:3px;
    top: 12px;
    width: 30px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(90deg);
    transition-delay: 150ms;
  }
  .nav-icon-4.open span:nth-child(2){
    left:2px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(45deg);
    transition-delay: 50ms;
  }
  .nav-icon-4.open span:nth-child(3){
    left:14px;
    top: 20px;
    width: 20px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transform: rotate(-45deg);
    transition-delay: 100ms;
  }
  

 

  /* showing the links */
  nav.show {
    display: block;
    
    
  }
  .logo__text {
      color:yellow;
  }


  /* hero */

.hero {
    background-image:linear-gradient(to right,yellow,rgba(255, 255, 0, 0.795),rgba(173, 239, 209, 0.171)), 
    url(../images/background2.jpg);
    width:100%;
    height:120vh;
    background-size: cover;
    background-position: center;
}
.hero {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;

}
.quotes {
   padding-top:10rem;
   letter-spacing: 0.2rem;

}
.quotes::after{
    content: "| SkYfLY";
    font-size: 5rem;
    letter-spacing: 0.5rem;
}
#arrow {
    font-size:10rem;
}

.about {
    
    width: 100%;
    background-color:'';
    height: 20rem;
}
.center-title {
    text-align: center;
    padding-top:5rem;
}
.fly-img {
    position: relative;
    animation: mymove 5s infinite;
    transition: all 5s;
    animation-delay: 2s;
    
}
.button-container {
    text-align: center;
}

.btn-primary {
    padding: 1rem 4rem;
    outline: none;
    border: none;
    background-color: var(--color-primary);
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px var(--color-primary);
    


}
.btn-primary:hover{
    box-shadow: 0 0 5px red;
    background-color:var(--color-secondary);
    padding-left: 5rem;
}


.flybtn {
    color: var(--color-heading-dark);
    text-transform: capitalize;
}

@keyframes mymove {
    from {top: 20rem;}
    to {top: 10px;}
    
  }
  .about {
    width: 100%;
    height: 50rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    background-color: var(--color-background);


  }
  .vertical-line {
    margin-top: 10rem;
    border-left: 2px solid var(--color-primary);
    height: 100px;

}
  
  .about-container {
    height: 40rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

  .about-title {
      padding-top:10rem;
  }
  
 

  .about-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
  }
  .about-discription {
      text-align: center;
  }
  
 
 /* content */
 .content {
     margin-top:90rem;
     padding-left: 2rem;
     padding-right: 2rem;
     margin: auto;
     
 
 }
 .out-container {
    margin-top:100rem;
     width: 100%;
     height: 25rem;
     background: var(--color-primary);
     box-shadow: 0 0 10px 5px #fffa65;
     

 }
 .img-responsive {
    width: 100%;
    margin:2rem 0 0 2rem;
    
}
.content-text {
    padding-top: 5rem;
}
.clear {
    clear: both;
}
.details {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;


}
.details-heading {
    padding-top:10rem;
    text-align: center;
}
.box-conainter {
    display: flex;
    flex-direction:column;
    justify-content: space-between;

}

.box1 {
    border:2px solid var(--color-primary);
    margin-top: 5rem;
    width: 100%;
    box-shadow: 0 0 10px blue;
}
.box_img {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    display: block;
}
.box-heading {
    padding-top: 2rem;
    padding-left: 1rem;
}
.box-description {
    padding-left: 1rem;
}

.parachute {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    background-color: var(--color-primary);
    margin-top: 10rem;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 0 5%, 100% 1%);

}
.parachute-img {
    margin-left: auto;
    margin-left: auto;
    display: block;
    width: 100%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  
}
.parachute-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.parachute-heading {
    padding-top: 5rem;
    color: yellow;
}
.parachute-description {
    color: var(--color-heading-dark);

}

.plane {
    position: relative;
    animation: plane 5s infinite;
    transition: all 10s;
    animation-delay: 10s;
    transition: all 1s ease-in-out;


}
@keyframes plane {
    from {right: 0;}
    to {right: -25rem;}

} 
.paragliding {
    position: relative;
    animation: paragliding 5s infinite;
    transition: all 10s;
    animation-delay: 10s;
    transition: all 2s ease-in-out;

}


@keyframes paragliding {
    from {right: 0;}
    to {right: -10rem;}
    
  }
.silder {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;

}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-image: linear-gradient(yellow,green);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  .swiper {
    width: 40%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 70rem;
    
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .silder-text {
      text-align: center;
  }
  .review {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;

  }
  .review {
      background-color:var(--color-primary);
      background-image:linear-gradient(to bottom,#2C3A47,rgba(131, 245, 131, 0.199)), url(../images/pexels-pixabay-128880.jpg);
      background-repeat: no-repeat;
      background-position: center;
  }
  .review-title {
      text-align: center;
      padding-top: 5rem;
      color: var(--color-heading-dark);
  }

.copyright {
    text-align: center;
}

.img-responsive-review {
    width: 100%;
    height: auto;
 
}
.review-heading {
    color: var(--color-dark-heading);
}
         
.review-description {
    color: var(--color-heading-dark);
}
.review-description {
    text-align: center;
    padding-top: 4rem;
}
.footer {
    background-color: var(--color-primary);
    color: var(--color-heading-dark);
}


 
  







  @media  screen and (min-width:1024px) {

    body {
        font-size:1.8rem;
    }
    h1 {
        font-size:6rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size:1.4rem;
    }
    p {
        font-size:1.3rem;
        
    }
    a {
        font-size: 1.2rem;
    }

    /* header */
    nav {
        background-color: var(--color-header);
        display: block;

    }

    
     .nav-item {
        display: inline;
        width:100%;
        color: var(--color-nav);
    

    }
    .nav__list {
        margin-right: 15rem;
        text-align: right;
    
    } 
    .nav-icon-4  {
        display: none;
        
    }
    .header{
        align-items: center;
        flex-direction: row;
        
    }
    .nav-item>a{      
        text-transform: capitalize;
        max-height: 100%;
        opacity: 1;
        padding:1rem;
    }
    .quotes {
        padding-top: 25rem;
    }
    .hero {
        padding-left: 10rem;
        padding-right: 10rem;
        margin: auto;
    }
    .hero {
    
        height:100vh;
       
    }
    .hero-title {
        padding-top: 0;
        align-items: center;
        text-align: left;
        padding-left: 0;
        width: 30ch;
        padding-bottom: 0;
        letter-spacing: 0.2rem;

    }
    .btn-primary {
        float: left;
        margin-left: 10rem;
    }
    .about {
        padding-left: 10rem;
        padding-right: 10rem;
        margin: auto;
        height: 40vh;
            
    }
    
    .about-content {
        width: 30%;
    }
    .description {
       text-align: left;
    }
    .about-container {
        display: flex;
        flex-direction:row;
    }
    .description {
        width: 60ch;
    }
    .about-discription {
        padding-left:5rem;
    }

    /* box container */
    .box-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        
    }
    /* content */
    .content {
        padding-left: 10rem;
        padding-right: 10rem;
        margin: auto;
        margin-top: 15rem;
    
    }
    .out-container {
        margin-top:20rem;
         width: 30%;
         height: 30rem;
         
    
     }
    .img-responsive {
        width: 100%;
        margin:8rem 15rem 0 8rem;
        float: left;
        
    }
    .content-text {
        margin-top:-25rem;
    }
   .details-heading {
       padding-top:20rem;
       text-align: center;
   }
   
   /* box */
   .details {
        padding-left: 10rem;
        padding-right: 10rem;
        margin: auto;
   }
   .box-conainter {
       margin-top:10rem;
       display: flex;
       flex-direction:row;
       justify-content: space-between;
       flex-wrap: wrap;
}
.box1 {
    border:2px solid var(--color-primary);
    margin: 5rem;
    width: 25%;
    height: 45rem;
}

.parachute {
    padding-left: 10rem;
    padding-right: 10rem;
    margin: auto;
    background: var(--color-primary);

}
.parachute-title {
    color: var(--color-heading-dark);
}
.parachute {
    margin-top: 10rem;

}
@keyframes plane {
    from {right: 0;}
    to {right: -140rem;}

} 



@keyframes paragliding {
    from {right: 0;}
    to {right: -60rem;}
    
  }
  .parachute {
      margin-top: 25rem;
  }
.parachute-heading {
    padding-top: 15rem;
    
}
.parachute-description {
    color: var(--color-heading-dark);

}
.parachute-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.parachute-img {
    margin-left: auto;
    margin-left: auto;
    display: block;
    width: 50%;
}




/* slider images */

.silder-heading {
    padding-top:20rem;
    padding-bottom: 20rem;
}
.review {
    padding-left: 10rem;
    padding-right: 10rem;
    margin: auto;
    width: 100%;
    height: 50rem;

  }
  
  .review {
      margin-top:20rem;
  }
  .review-heading {
      margin-top:10rem;
      color: var(--color-heading-dark);

  }
  .tex-box {
      align-items: center;
      text-align: center;
  }
  .inp {
      border: none;
      padding-right: 25rem;
      padding-top: 2rem;
      background-color:#dcdde1;
      padding-left: 2rem;
      outline: none;

  }
  .btn-review {
      position: absolute;
      float: right;
      margin-left: 1rem;
      text-align: center;
      border: 0;
      outline: none;
      padding: 1rem;
      padding-left: 4rem;
      padding-right:4rem;
      background-color: var(--color-primary);
      color: white;
      
  }
   



  

   
    
   
    
   
    
    
    
  
   
  }